.nuxt-content {
  /* HEADERS & PARAGRAPHS */
  & h1,
  & h2,
  & h3,
  & h4 {
    @apply mt-8 mb-4;
    & + h2,
    & + h3,
    & + h4 {
      @apply mt-4;
    }
    /* put some top margins to account for fixed nav header */
    &:before {
      @apply block invisible pointer-events-none -mt-20 h-20;
      content: " ";
    }
  }
  & h1 {
    @apply text-4xl font-extrabold border-b;
    border-color: var(--border-secondary);
  }
  & h2 {
    @apply text-3xl font-bold border-b;
    border-color: var(--border-secondary);
  }
  & h3 {
    @apply text-2xl font-bold;
  }
  & h4 {
    @apply text-xl font-semibold;
  }
  & p {
    @apply my-4;
  }
  & strong {
    @apply font-bold;
  }

  & hr {
    border-color: var(--border);
  }

  /* LINKS */
  & :not(h1, h2, h3, h4, h5, h6) > a {
    &:hover {
      @apply underline;
    }
    @apply font-semibold break-words;
    color: var(--primary);
  }

  /* INLINE CODE */
  & :not(pre) > code {
    @apply rounded-sm select-all px-1;
    background-color: var(--bg-secondary);
  }

  /* CODE BLOCKS */
  & .nuxt-content-highlight {
    @apply bg-transparent text-base relative my-4;
    & > .filename {
      @apply absolute right-0 top-0 font-mono text-sm text-gray-500 select-none mr-1;
    }
    & > pre[class*="language-"] {
      @apply bg-gray-800;
    }
  }

  /* LISTS */
  & > ul,
  & > ol {
    /* overall margins of one list block */
    @apply mb-4;
  }
  & ul {
    @apply list-disc list-outside;
  }
  & ol {
    @apply list-decimal list-outside;
  }
  & li {
    @apply ml-5 pl-1 my-1;
  }

  /* CHECKBOX */
  & .task-list-item {
    @apply list-none;
    & input {
      @apply float-left;
      margin-left: -1.3em;
      margin-top: 0.35em;
    }
  }

  /* BLOCK QUOTE */
  & blockquote {
    @apply border-l-4 p-3 rounded;
    background-color: var(--bg-secondary);
    border-color: var(--primary);
    color: var(--text-secondary);
    /* remove top/bot margins for first/last childs */
    & :first-child {
      @apply mt-0;
    }
    & :last-child {
      @apply mb-0;
    }
  }

  /* TABLES */
  & table {
    @apply border-collapse overflow-auto my-4;
  }
  & th,
  & td {
    @apply border py-1 px-3;
    border-color: var(--border);
  }
  & thead {
    background-color: var(--bg-secondary);
  }
}
